
#GreetingContainer {
  background-color: #5dbecb;
  border-bottom-style: solid;
  border-bottom-color: red;
}

#GreetingTitle {
  color: white;
  font-weight: 600;
  letter-spacing: 3px;
}

#GreetingSubTitle {
  color: yellow;
  font-weight: 300;
}

.Section2Title {
  font-weight: 600;
  margin: 10px 0px;
  text-align: center;
}

.Section2Sub {
  text-align: center;
  margin: 25px 0px 30px 0px;
}
#Section2Container {
  background-color: #5dbecb;
  border-bottom-style: solid;
  border-top-style: solid;
  border-bottom-color: red;
  border-top-color: red;
  color: white;
  padding-bottom: 90px;
  padding-top: 45px;
}

/* @media (max-width: 1025px)  {  */
@media screen  {
  #GreetingContainer {
    height: 85vh;
  }

  #GreetingTextContainer {
    width: 100%;
  }

  #GraphContainer {
    display: flex;
    justify-content: center;
    position: relative;
    top: 275px;
    left: -175px;
  }

  #GreetingRow {
    position: relative;
    top: 175px;
  }

  .Section {
    margin: 120px 0px 170px 0px;
  }

  #Section1Title {
    margin: 50px 0px;
  }
  #Section1Sub {
    line-height: 100px;
  }
  #Section2TextContainer1 {
    margin: 50px 0px 20px 0px;
  }
  #Section2TextContainer2 {
    margin: 50px 0px 20px 0px;
  }

  .appStoreContainer {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .appStoreImg {
    width: 150px;
    height: 50px;
  }
  .dividerLine {
    width: 100%;
    height: 5px;
    background-color: yellow;
    margin-top: 30px;
    padding: 0px 40px 0px 40px;
  }
  #Section3Title {
    text-align: center;
    margin: 25px 0px;
  }

  #messageFormContainer {
    margin-top: 50px;
  }
  #formSubmitBtnContainer {
    display: flex;
    flex-direction: row-reverse;
  }
  #formSubmitBtn {
    background-color: #5dbecb;
    color: yellow;
  }

  .Section2Sub {
    line-height: 50px;
  }
  #GreetingSubTitle {
    text-align: right;
  }

  #GreetingTitle {
    font-weight: 800;
    letter-spacing: 3px;
    line-height: 70px;
  }
  h5 {
    font-size: 2em;
  }
  h4 {
    font-size: 2.5em;
  }
  h2 {
    font-size: 3.3em;
  }
}
@media (min-width: 760px) and (max-width: 1000px) {
  /*iPad small*/
  #GraphContainer {
    display: flex;
    justify-content: center;
    position: relative;
    top: 40px !important;
    left: -0px !important;
  }

}
@media (min-width: 770px) and (max-width: 1025px) {
  /*iPad Pro*/
  #GreetingContainer {
    height: 75vh;
  }

  #GreetingTextContainer {
    width: 100%;
  }

  #GraphContainer {
    display: flex;
    justify-content: center;
    position: relative;
    top: 320px;
    left: -220px;
  }

  #GreetingRow {
    position: relative;
    top: 225px;
  }

  .Section {
    margin: 120px 0px 170px 0px;
  }

  #Section1Title {
    margin: 50px 0px;
  }
  #Section1Sub {
    line-height: 100px;
  }
  #Section2TextContainer1 {
    margin: 50px 0px 20px 0px;
  }
  #Section2TextContainer2 {
    margin: 50px 0px 20px 0px;
  }

  .appStoreContainer {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .appStoreImg {
    width: 150px;
    height: 50px;
  }
  .dividerLine {
    width: 100%;
    height: 5px;
    background-color: yellow;
    margin-top: 30px;
    padding: 0px 40px 0px 40px;
  }
  #Section3Title {
    text-align: center;
    margin: 25px 0px;
  }

  #messageFormContainer {
    margin-top: 50px;
  }
  #formSubmitBtnContainer {
    display: flex;
    flex-direction: row-reverse;
  }
  #formSubmitBtn {
    background-color: #5dbecb;
    color: yellow;
  }

  .Section2Sub {
    line-height: 50px;
  }
  #GreetingSubTitle {
    text-align: left;
  }

  #GreetingTitle {
    font-weight: 800;
    letter-spacing: 3px;
    line-height: 70px;
  }
  h5 {
    font-size: 2em;
  }
  h4 {
    font-size: 2.5em;
  }
  h2 {
    font-size: 3.3em;
  }
}

@media (max-width: 759px) {
  /*iphone*/
  #GreetingContainer {
    height: 75vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  #GreetingSubTitle {
    text-align: center;
  }
  #GreetingTextContainer {
    width: 80%;
  }
  #GraphContainer {
    display: flex;
    justify-content: center;
    position: relative;
    top: 10px !important;
    left: -0px !important;
  }

  .Section {
    margin: 60px 0px 85px 0px;
  }

  #Section1Title {
    margin: 25px 0px;
  }
  #Section1Sub {
    line-height: 50px;
  }
  #Section2TextContainer1 {
    margin: 25px 0px 10px 0px;
  }
  #Section2TextContainer2 {
    margin: 25px 0px 10px 0px;
  }
  .appStoreContainer {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .appStoreImg {
    width: 120px;
    height: 45px;
  }
  .dividerLine {
    width: 100%;
    height: 5px;
    background-color: yellow;
    margin: 30px 40px 0px 40px;
  }
  #Section3Title {
    text-align: center;
    margin: 25px 0px;
  }

  #GreetingRow {
    position: relative;
    top: 0px;
    min-height: 300px;
  }

  #messageFormContainer {
    margin-top: 50px;
  }
  #formSubmitBtnContainer {
    display: flex;
    flex-direction: row-reverse;
  }
  #formSubmitBtn {
    background-color: #5dbecb;
    color: yellow;
  }
  #GreetingTitle {
    font-weight: 600;
    line-height: 35px; 
  }
  h5 {
    font-size: 1.2em;
  }
  h4 {
    font-size: 1.5em;
  }
  h2 {
    font-size: 2.0em;
  }
}