h6 {
  font-size: 0.7em;
}
#GreetingContainer {
  background-color: #5dbecb;
  border-bottom-style: solid;
  border-bottom-color: red;
}

#GreetingTitle {
  color: white;
  font-weight: 600;
  letter-spacing: 3px;
}

#GreetingSubTitle {
  color: yellow;
  font-weight: 300;
}

.Section2Title {
  font-weight: 600;
  margin: 10px 0px;
  text-align: center;
}

.Section2Sub {
  text-align: left;
  margin: 120px 0px 50px 0px;
}
.Section2SubLit {
  color: yellow;
  font-size: 2.8em;
}
#Section2Container {
  background-color: #5dbecb;
  border-bottom-style: solid;
  border-top-style: solid;
  border-bottom-color: red;
  border-top-color: red;
  color: white;
  padding-bottom: 90px;
  padding-top: 45px;
}

/* @media (max-width: 1025px)  {  */
@media screen {
  #GreetingContainer {
    height: 85vh;
  }

  #GreetingTextContainer {
    width: 100%;
  }

  #GraphContainer {
    display: flex;
    justify-content: center;
    position: relative;
    top: 275px;
    left: -175px;
  }

  #GreetingRow {
    position: relative;
    top: 175px;
  }

  .Section {
    margin: 120px 0px 170px 0px;
  }

  #Section1Title {
    margin: 50px 0px;
  }
  .Section1Sub {
    line-height: 100px;
    text-align: center;
  }
  .Section1SubNContainer {
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .Section1SubN {
    line-height: 85px;
    padding: 10px 0px;
    font-weight: 400;
  }
  #Section2TextContainer1 {
    margin: 50px 0px 20px 0px;
  }
  #Section2TextContainer2 {
    margin: 50px 0px 20px 0px;
  }

  .appStoreContainer {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .appStoreImg {
    width: 150px;
    height: 50px;
  }
  .dividerLine {
    width: 100%;
    height: 5px;
    background-color: yellow;
    margin-top: 5px;
    padding: 0px 40px 0px 40px;
  }
  #Section3Title {
    text-align: center;
    margin: 25px 0px;
  }

  #messageFormContainer {
    margin-top: 50px;
  }
  #formSubmitBtnContainer {
    display: flex;
    flex-direction: row-reverse;
  }
  #formSubmitBtn {
    background-color: #5dbecb;
    color: yellow;
  }

  .Section2Sub {
    line-height: 35px;
  }
  .Section2SubLit {
    color: yellow;
    font-size: 2.8em;
  }
  #GreetingSubTitle {
    text-align: right;
  }

  #GreetingTitle {
    font-weight: 800;
    letter-spacing: 3px;
    line-height: 70px;
  }
  h5 {
    font-size: 2em;
  }
  h4 {
    font-size: 2.5em;
  }
  h2 {
    font-size: 3.3em;
  }
  #Section3Container {
    margin-bottom: 250px;
  }

  #contactItemContainer {
    margin: 50px 250px;
  }
  .contactItem {
    border: solid 1px #eee;
    text-align: center;
    padding: 15px 0px 15px 0px;
  }
  .contactItemLink {
    text-decoration: underline;
    color: #5dbecb;
    font-weight: 600;
    font-size: 1.4em;
  }
  .contactItemLink:hover {
    text-decoration: underline;
    color: red;
    font-weight: 600;
  }
  .contactItemText {
    color: #777;
    margin: 5px 0px 0px 0px;
    font-size: 1.4em;
  }
}
@media (min-width: 760px) and (max-width: 1000px) {
  /*iPad small*/
  #GraphContainer {
    display: flex;
    justify-content: center;
    position: relative;
    top: 40px !important;
    left: -0px !important;
  }
  #contactItemContainer {
    margin: 100px 50px;
  }
  .contactItem {
    border: solid 1px #eee;
    text-align: center;
    padding: 15px 0px 15px 0px;
  }
  .contactItemLink {
    text-decoration: underline;
    color: #5dbecb;
    font-weight: 600;
    font-size: 1.3em;
  }
  .contactItemLink:hover {
    text-decoration: underline;
    color: red;
    font-weight: 600;
  }
  .contactItemText {
    color: #777;
    margin: 5px 0px 0px 0px;
    font-size: 1.2em;
  }
  .Section1SubN {
    line-height: 60px;
  }
  .Section1SubNContainer {
    text-align: center;
    margin-top: 55px;
  }
  #Section3Container {
    margin-bottom: 200px;
  }
  .Section2Sub {
    margin-top: 100px;
  }
}
@media (min-width: 770px) and (max-width: 1025px) {
  /*iPad Pro*/
  #GreetingContainer {
    height: 75vh;
  }

  #GreetingTextContainer {
    width: 100%;
  }

  #GraphContainer {
    display: flex;
    justify-content: center;
    position: relative;
    top: 420px;
    left: -220px;
  }

  #GreetingRow {
    position: relative;
    top: 225px;
  }

  .Section {
    margin: 120px 0px 170px 0px;
  }

  #Section1Title {
    margin: 50px 0px;
  }
  .Section1Sub {
    line-height: 100px;
    text-align: center;
  }
  .Section1Sub {
    line-height: 100px;
  }
  #Section2TextContainer1 {
    margin: 50px 0px 20px 0px;
  }
  #Section2TextContainer2 {
    margin: 50px 0px 20px 0px;
  }

  .appStoreContainer {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .appStoreImg {
    width: 150px;
    height: 50px;
  }
  .dividerLine {
    width: 100%;
    height: 5px;
    background-color: yellow;
    margin-top: 5px;
    padding: 0px 40px 0px 40px;
  }
  #Section3Title {
    text-align: center;
    margin: 25px 0px;
  }

  #messageFormContainer {
    margin-top: 50px;
  }
  #formSubmitBtnContainer {
    display: flex;
    flex-direction: row-reverse;
  }
  #formSubmitBtn {
    background-color: #5dbecb;
    color: yellow;
  }

  .Section2Sub {
    line-height: 50px;
    margin-top: 100px;
  }
  .Section2SubLit {
    color: yellow;
    font-size: 2.8em;
  }
  #GreetingSubTitle {
    text-align: left;
  }

  #GreetingTitle {
    font-weight: 800;
    letter-spacing: 3px;
    line-height: 70px;
  }
  h5 {
    font-size: 2em;
  }
  h4 {
    font-size: 2.5em;
  }
  h2 {
    font-size: 3.3em;
  }
  .contactItem {
    border: solid 1px #eee;
    text-align: center;
    padding: 15px 0px 15px 0px;
  }
  .contactItemLink {
    text-decoration: underline;
    color: #5dbecb;
    font-weight: 600;
    font-size: 1.8em;
  }
  .contactItemLink:hover {
    text-decoration: underline;
    color: red;
    font-weight: 600;
  }
  .contactItemText {
    color: #777;
    margin: 5px 0px 0px 0px;
    font-size: 1.7em;
  }
  .Section1SubN {
    line-height: 60px;
  }
  .Section1SubNContainer {
    margin-top: 60px;
  }
  #Section3Container {
    margin-bottom: 200px;
  }
  #contactItemContainer {
    margin: 100px 150px;
  }
}

@media (max-width: 759px) {
  /*iphone*/
  #Section3Container {
    margin-bottom: 175px;
  }
  #GreetingContainer {
    height: 75vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  #GreetingSubTitle {
    text-align: left;
  }
  #GreetingTextContainer {
    width: 100%;
  }
  #GraphContainer {
    display: flex;
    justify-content: center;
    position: relative;
    top: 10px !important;
    left: -0px !important;
  }

  .Section {
    margin: 60px 0px 85px 0px;
  }

  #Section1Title {
    margin: 25px 0px;
  }
  .Section1Sub {
    line-height: 50px;
    text-align: center;
  }
  .Section1SubNContainer {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
  }
  .Section1SubN {
    line-height: 35px;
  }
  #Section2TextContainer1 {
    margin: 25px 0px 10px 0px;
  }
  #Section2TextContainer2 {
    margin: 25px 0px 10px 0px;
  }
  .appStoreContainer {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .appStoreImg {
    width: 120px;
    height: 45px;
  }
  .dividerLine {
    width: 100%;
    height: 5px;
    background-color: yellow;
    margin: 0px 40px 0px 40px;
  }
  #Section3Title {
    text-align: center;
    margin: 25px 0px;
  }

  #GreetingRow {
    position: relative;
    top: 0px;
    min-height: 300px;
  }

  #messageFormContainer {
    margin-top: 50px;
  }
  #formSubmitBtnContainer {
    display: flex;
    flex-direction: row-reverse;
  }
  #formSubmitBtn {
    background-color: #5dbecb;
    color: yellow;
  }
  #GreetingTitle {
    font-weight: 600;
    line-height: 35px;
  }
  h5 {
    font-size: 1.2em;
  }
  h4 {
    font-size: 1.5em;
  }
  h2 {
    font-size: 2em;
  }
  .contactItem {
    border: solid 1px #eee;
    text-align: center;
    padding: 15px 0px 15px 0px;
  }
  .contactItemLink {
    text-decoration: underline;
    color: #5dbecb;
    font-weight: 600;
  }
  .contactItemLink:hover {
    text-decoration: underline;
    color: red;
    font-weight: 600;
  }
  .contactItemText {
    color: #777;
    margin: 5px 0px 0px 0px;
    font-size: 0.9em;
  }

  #contactItemContainer {
    margin: 50px 0px;
  }
}
